h1 {
  color: slategray;
  text-align: center;
  font-family: cursive;
}

h2 {
  font-family: Times;
  text-align: center;
  color: Green;
  font-weight: 100;
}

p {
  font-style: Oblique;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

img {
  height: 300px;
}